/* -----------------------------------------------------------------
Feature Accordion
--------------------------------------------------------------------*/
.feature-accordion.panel-group .panel+.panel {
    margin-top: 10px;
}
.feature-accordion .panel {
    box-shadow: none;
    border:0;
    border-radius: 0;
    background: transparent;
}
.feature-accordion .panel .panel-heading {
    position: relative;
    padding: 0;
}
.feature-accordion .panel-title a{
    display: block;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}


/*color change*/
.feature-accordion.brand-accordion .panel-title a{
    background-color: #126009;
}
.feature-accordion.pink-accordion .panel-title a{
    background-color: #ed145b;
}
.feature-accordion.purple-accordion .panel-title a{
    background-color: #673ab7;
}
.feature-accordion.red-accordion .panel-title a{
    background-color: #F6483F;
}

/*add any color you wish with .(colorName)-accordion class*/


.feature-accordion .panel-title a.collapsed{
	color: #202020;
    background-color: #eee;
    box-shadow: none;
}

.feature-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 0;
}

.feature-accordion .panel-body {
    padding: 15px 0;
}


/*
Accordion Icon
-----------------------------------------------------------------------------------*/
.icon .panel .panel-heading a:after {
    font-family: 'FontAwesome';
    font-size: 24px;
    width: 50px;
    height: 99%;
    line-height: 48px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}


/*Angle Icon*/
.angle-icon .panel .panel-heading a:after {
    content: "\f107";
}
.angle-icon .panel .panel-heading a.collapsed:after {
    content: "\f105";
}


/*Plus Icon*/
.plus-icon .panel .panel-heading a:after {
    content: "\f068";
}
.plus-icon .panel .panel-heading a.collapsed:after {
    content: "\f067";
}




/* -----------------------------------------------------------------
Flat Accordion
-------------------------------------------------------------------- */
.flat-accordion {
	padding: 30px;
}
.flat-accordion .panel {
    box-shadow: none;
    border:0;
    border-radius: 0;
}
.flat-accordion .panel .panel-heading {
    position: relative;
    padding: 0;
    background-color: transparent;
}
.flat-accordion .panel-title {
    font-weight: 500;
}
.flat-accordion .panel-title a{
    display: block;
    color: #126009;
    padding: 10px 0;
}

/*color change*/
.flat-accordion.brand-accordion .panel-title a{
    color: #126009;
}
.flat-accordion.pink-accordion .panel-title a{
    color: #ed145b;
}
/*add any color you wish with .(colorName)-accordion class*/



.flat-accordion .panel-title a.collapsed{
	color: #202020;
}

.flat-accordion .panel-body {
    padding: 15px 0;
}



/*
Solid Background Style
------------------------------------------------------------------------*/
.flat-accordion.solid-bg .panel {
    background-color: transparent;
}
.flat-accordion.solid-bg .panel-title a{
    color: #fff;
}
.flat-accordion.solid-bg .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: rgba(255, 255, 255, 0.5);
}
.flat-accordion.solid-bg .panel-body {
    color: #fff;
}
