/*------------------------------------------------------------------
CountDown
-------------------------------------------------------------------*/
.countdown {
  margin-bottom: 0
}
.countdown li {
  display: inline-block;
  text-align: center;
}
.countdown li+li {
  margin-left: 50px;
}
.countdown li p{
    text-transform: uppercase;
    margin: 0;
}
.countdown li span {
  font-size: 40px;
  font-weight: 900;
  color: #126009;
}

@media screen and (max-width: 650px) {
    .countdown li+li {
      margin-left: 10px;
    }
}



/*comingsoon page one*/
.comingsoon-wrapper .logo {
    margin-bottom: 50px;
}
.comingsoon-wrapper .countdown li {
  min-width: 110px;
}
.comingsoon-wrapper .countdown li+li {
  margin-left: 40px;
}
.comingsoon-wrapper .countdown li span {
    font-size: 60px;
    line-height: 70px;
}
.comingsoon-contact .input-field {
    margin-top: 20px;
}