/* ================= Form Style ==================== */


/*
Default Form Style
--------------------------------------------*/
input[type=text], 
input[type=password], 
input[type=email], 
input[type=url], 
input[type=time], 
input[type=date], 
input[type=datetime-local], 
input[type=tel], 
input[type=number], 
input[type=search], 
textarea.materialize-textarea {
    border-bottom: 1px solid #9b9b9b;
    font-size: 14px !important;
}

input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=date]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]), 
input[type=tel]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), 
input[type=search]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #126009;
    box-shadow: 0 1px 0 0 #126009; 
}

input[type=text]:focus:not([readonly]) + label, 
input[type=password]:focus:not([readonly]) + label, 
input[type=email]:focus:not([readonly]) + label, 
input[type=url]:focus:not([readonly]) + label, 
input[type=time]:focus:not([readonly]) + label, 
input[type=date]:focus:not([readonly]) + label, 
input[type=datetime-local]:focus:not([readonly]) + label, 
input[type=tel]:focus:not([readonly]) + label, 
input[type=number]:focus:not([readonly]) + label, 
input[type=search]:focus:not([readonly]) + label, 
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #126009 !important; 
}

textarea.materialize-textarea {
    min-height: 60px !important;
}


/*
White Form Style
------------------------------------------*/

.white-form input[type=text], 
.white-form input[type=password], 
.white-form input[type=email], 
.white-form input[type=url], 
.white-form input[type=time], 
.white-form input[type=date], 
.white-form input[type=datetime-local], 
.white-form input[type=tel], 
.white-form input[type=number], 
.white-form input[type=search], 
.white-form textarea.materialize-textarea {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.white-form input[type=text]:focus:not([readonly]), 
.white-form input[type=password]:focus:not([readonly]), 
.white-form input[type=email]:focus:not([readonly]), 
.white-form input[type=url]:focus:not([readonly]), 
.white-form input[type=time]:focus:not([readonly]), 
.white-form input[type=date]:focus:not([readonly]), 
.white-form input[type=datetime-local]:focus:not([readonly]), 
.white-form input[type=tel]:focus:not([readonly]), 
.white-form input[type=number]:focus:not([readonly]), 
.white-form input[type=search]:focus:not([readonly]), 
.white-form textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff; 
}

.white-form .input-field label,
.white-form input[type=text]:focus:not([readonly]) + label, 
.white-form input[type=password]:focus:not([readonly]) + label, 
.white-form input[type=email]:focus:not([readonly]) + label, 
.white-form input[type=url]:focus:not([readonly]) + label, 
.white-form input[type=time]:focus:not([readonly]) + label, 
.white-form input[type=date]:focus:not([readonly]) + label, 
.white-form input[type=datetime-local]:focus:not([readonly]) + label, 
.white-form input[type=tel]:focus:not([readonly]) + label, 
.white-form input[type=number]:focus:not([readonly]) + label, 
.white-form input[type=search]:focus:not([readonly]) + label, 
.white-form textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #fff !important; 
}