/*------------------------------------------------------------------
Promo Box
-------------------------------------------------------------------*/

.promo-box {
    padding: 40px;
    display: block;
    width: 100%;
}

.promo-box,
.text-center .promo-btn,
.text-center .promo-btn a,
.full-width.promo-box .container {
    position: relative;
}



.text-center .promo-btn,
.text-center .promo-btn a,
.text-center .promo-info span,
.text-center .promo-info {
    display: inline-block;
}

.promo-info {
    padding-right: 200px;
}


.promo-info .promo-icon {
    background-color: #126009;
    width: 73px;
    height: 73px;
    color: #fff;
    font-size: 30px;
    line-height: 73px;
    text-align: center;
    float: left;
    margin-right: 25px;
}
.promo-info .promo-icon.circle {
    border-radius: 50%;
}


.text-center .promo-info {
    padding-right: 0;
}

@media screen and (max-width: 767px) {
    .promo-info {
        padding-right: 0;
    }
}




.promo-info p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 0;
}


.promo-btn {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -25px;
}

@media screen and (max-width: 767px) {
    .promo-btn {
        margin-top: 0;
        position: relative;
        right: 0;
        top: 0;
        margin-top: 20px;
    }
}


.text-center .promo-info p {
    margin-bottom: 30px;
}




.promo-box.border-box {
    border: 1px solid #d7d7d7;
}


.promo-pattern {
    background-image: url(../../img/banner/pattern.jpg);
    background-repeat: repeat;
    height: auto;
}

.promo-parallax {
    background-image: url(../../img/banner/banner-2.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}


@media (min-width: 992px) {
    .content-promo-box.banner {
        background: url("../../img/mockup/mac-spkr.png") right top no-repeat #f5f5f5;
    }
}


/*quote box*/
.quote-box .quote-intro {
    display: block;
    letter-spacing: 4px;
    margin-bottom: 10px;
}
.quote-box .author {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
}
.quote-box .author .role{
    display: block;
    font-size: 14px;
    font-weight: 400;
}

/*------------------------------------------------------------------
Promo Box End
-------------------------------------------------------------------*/