/*------------------------------------------------------------------
Team Member
-------------------------------------------------------------------*/


/*Team Tab Style*/
.team-tab .nav-tabs {
    border-bottom: 0;
}
.team-tab .nav-tabs>li>a {
    padding: 0;
    border: 0;
}
.team-tab .nav-tabs>li>a, 
.team-tab .nav-tabs.nav-justified>li>a {
    margin-right: 15px;
}

.team-tab .nav-tabs>li.active>a, 
.team-tab .nav-tabs>li.active>a:focus, 
.team-tab .nav-tabs>li.active>a:hover, 
.team-tab .nav-tabs.nav-justified>.active>a, 
.team-tab .nav-tabs.nav-justified>.active>a:focus, 
.team-tab .nav-tabs.nav-justified>.active>a:hover {
    border: 0;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.team-tab .nav-tabs>li.active>a::before {
    content: "";
    background: rgba(3, 169, 244, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.team-tab .nav-tabs>li>a img {
    width: 100%;
}

.team-tab .panel-body{
    padding: 40px 0 0;
}

.team-tab .team-intro {
    padding-top: 35px;
}
.team-tab .team-intro h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 35px;
}
.team-tab .team-intro h3 small{
    font-size: 20px;
    font-weight: 400;
    color: #202020;
    display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
    .team-tab .team-intro {
        padding-top: 0;
    }
}

/*Team Social Links*/
.team-social-links {
    margin: 0;
    padding: 12px 0;
    border-top: 1px solid #eee;
}
.team-social-links li a{
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    display: block;
    color: #202020;
}
.team-social-links li a:hover{
    color: #126009;
}


/*Tab to Accordion*/
@media (max-width: 767px){
    .team-tab .panel-body {
        padding: 0 30px;
    }
    .team-tab img {
        margin: 0 auto;
        width: 100%;
    }
    .team-tab .team-img img {
        display: none;
    }
    .team-social-links {
        border-top: 0;
    }
}



/*
Team Style Two
----------------------------------------------------------------*/
.team-wrapper {
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.team-wrapper:hover {
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.team-wrapper img {
    width: 100%;
}
.team-title {
    padding: 28px 28px 0 28px;
}
.team-title h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.team-title h3 a {
    color: #202020;
}
.team-title h3 a:hover {
    color: #126009;
}
.team-title span {
    display: block;
    font-size: 16px;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.team-title p {
    color: #bcbcbc;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
}
.team-wrapper:hover .team-title p {
    color: #999;
}